.machine-simulator {
    border-radius: 10;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.max-transitions {
    display: inline-block;
}
.tape-invalid-box {
    border-style: solid;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: red;

}


.slide-container {
    width: 100%;
}

.slider-track {
    height: 25px;
    width: 100%;
    background: #aaaaaa;
}




.tape-slider:hover {
    opacity: 1;
  }
  
  


.computation-nav {
    display : inline-block;
}
.tape-edit-box {
    border-style: solid;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: rgb(255, 191, 0);
}

.tape-regular-box {
    border-style: solid;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.tape-head-box {
    border-style: solid;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: aqua;

}

.machine-speed {
    display: inline-block;
}

.tape-index-box {
    height: 20px;
    width: 50px;
    text-align: center;
    border-style: solid;
}

.tape-col {
    display: inline-block;
    vertical-align: middle;

}

.tape-box {
    border-style: solid;
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: center;


}

.tape-view {
    display: inline-block;
    min-width: 700px;
    max-height: 160px;
    overflow-y: hidden;
    white-space: nowrap;
    vertical-align: middle;

}

.tape-attribs {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.074);
    border-radius: 10px;

}
