.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.stay {
  
}

.move {
  overflow-y: scroll;
  height: 550px;
}

.body {
  position: fixed;
}

.editor-input-char-selected {
  background-color: aqua;
}

.state-component {
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 500px;
}

.state-component-final {
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: rgba(0, 255, 64, 0.522);
  box-sizing: content-box;
  width: 500px;

}

.transition-editor-component {
  background-color: rgba(0, 0, 0, 0.075);
  z-index: 10;
}

.initial-state-btn-true {
  color:white;
  background-color: rgb(0, 157, 255);
  padding: 0% 0%;
  text-align: center;
  font-size: 10;
  border-radius: 10px;
  height: 30px;
  vertical-align: middle;
  
}
.state-name-button {
  padding: 0px 10px;

}

.transition-editor-component {
  position:relative;
  height: 300px;

}
.transition-create-popup {
  position:absolute;
  top: 10%;
  left: 5%;
  right: 5%;
  bottom: 10%;
  background-color: white;
  z-index: 100;
}

.state-name-button:hover {
  background-color: rgba(0, 0, 0, 0.063);
}



.initial-state-btn-false {
  
}


.state-header-component {
  flex-direction: row;
  height: auto;
    padding: 20;
    display: inline-block;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.testing {
  background-color: orangered;
}

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
  display: inline-block;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100px;
  height: 50px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
  display: inline-block;
}

.react-switch-label .react-switch-button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  display: inline-block;
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 60px;
}

/*

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 155, 155, 155;
    --background-end-rgb: 155, 155, 155;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

*/